.top_banner{
    background-image: url('/slider-hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @apply h-[450px] md:h-[600px];
}
.btn_after::after{
    content: '';
    display: block;
    height: 3px;
    border-bottom: 3px solid black;
    width: 100%;
    transition: 0.3s;
}
.btn_after:hover::after{
    border-bottom: 3px solid #81cbe4;
}
.s{
    color: rgba(0, 0, 0, 0.477)
}