.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    width: 1800px;
    height: 480px;
    background-image: -webkit-linear-gradient(-48deg, rgba(78, 151, 253, 0.12157) 0%, rgba(126, 130, 191, 0.11) 32%, rgba(228, 87, 61, 0.1) 99%);
}
.selected{
    position: relative;
}
.selected::after{
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #0397c9;
}
@media only screen and (max-width: 1030px){
    .offer{
        width: 100%;
        height: 100%;
    }
}