/* font fira  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/* font abril  */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.logo{
  display: flex;
  font-family: 'Abril Fatface', cursive;
}
::-webkit-scrollbar{
  width: 11px;
}
::-webkit-scrollbar-track{
  background-color: #ebe8e8;
}
::-webkit-scrollbar-thumb{
  background-color: #98d1e4;
  border-radius: 5px;
}