/* font fira  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/* font abril  */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.logo{
  display: flex;
  font-family: 'Abril Fatface', cursive;
}
.heart{
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: #218be2;
  animation: beat .25s infinite alternate;
	transform-origin: center;
}
@keyframes beat{
	to {
    transform: scale(1.4);
  }
}
::-webkit-scrollbar{
  width: 11px;
}
::-webkit-scrollbar-track{
  background-color: #ebe8e8;
}
::-webkit-scrollbar-thumb{
  background-color: #98d1e4;
  border-radius: 5px;
}