.hot{
    position: absolute;
    top: 150px;
    left: 60px;
    font-weight: bold;
    z-index: 99;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #febd00;
}