
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.role{
    position: relative;
}
.role::before{
    content: '';
    height: 60px;
    top: 0;
    left: -63px;
    width: 3px;
    position: absolute;
    background-color: #218be2;
}